# удалим все исполняемые файлы и файлы с информацией отладки
*.exe
*.pdb
# удалим все файлы и папки с именем bin
bin
# удалим конкретный файл с секретными сведениями
\data\secret_key.txt

# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
[Dd]ebug/



*.user
*.vcxproj
*.vcxproj.filters

